h2 {
  font-size: 79px;
  font-family: "Shadows Into Light", cursive;
  text-align: center;
  letter-spacing: 15px;
}
h3 {
  text-align: center;
}
h4 {
  font-size: 40px;
}
h6{
  font-size: 22px;
}
img {
  margin-left: 37%;
  height: 300px;
  width: 300px;
}
p {
  font-size: 24px;
  font-family: "Indie Flower", cursive;
  text-align: center;
  line-height: 15px;
}

a {
  font-size: 16px;
  font-family: "Indie Flower", cursive;
}
